*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.from-box{
    top: -70px;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #ffff;
    padding: 5px;
    overflow: hidden;
    
}
.button-box{
    width: 200px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
.tog-b{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative   ;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#9c9c9c,#797777);
    border-radius: 30px;
    transition: .5s;
}
.inputgroups1{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inputgroups2{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.infield{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.subutn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#9c9c9c,#797777);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.chekbox{
    margin: 30px 10px 30px 0;
    
}
span{
    color: #777;
    font-size: 12px;
    bottom: 60px;
    position: absolute;
}
#logi{
    left: 50px;
}
#regi{
    left: 450px;
}



.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 4%;
}
.logo{
    width: 50px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px ;
    
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0px;
    background: #ffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100px;
}
footer{
    background-color: white;
}
footer{
    width: 100%;
    padding: 70px 30px 20px;
}
.social{
    display: flex;
    justify-content: center;
}
.social a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}